Shop Bot Flow.json
[{"id":"bdf58f6.9e8037","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"89def4dc.5b3868","type":"watson-conversation-v1","z":"bdf58f6.9e8037","name":"Shop Bot","workspaceid":"fec6fb5e-4887-429f-a20b-3d1014742774","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b357ddd4-50e9-4d7c-9027-2c9c65907c76","timeout":"","optout-learning":false,"x":440,"y":120,"wires":[["e2d8a557.c3e848"]]},{"id":"c2fafa10.237858","type":"inject","z":"bdf58f6.9e8037","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":170,"y":100,"wires":[["89def4dc.5b3868"]]},{"id":"8bf11b82.1e70c8","type":"debug","z":"bdf58f6.9e8037","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":160,"wires":[]},{"id":"e2d8a557.c3e848","type":"function","z":"bdf58f6.9e8037","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://t3.ftcdn.net/jpg/02/20/14/38/240_F_220143804_fc4xRygvJ8bn8JPQumtHJieDN4ORNyjs.jpg\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":140,"wires":[["8bf11b82.1e70c8","e4197957.939458","57950700.1d9d08","6dc317bd.30a068"]]},{"id":"a6190c7.85d3df","type":"ui_form","z":"bdf58f6.9e8037","name":"","label":"","group":"a8fb58b0.f40408","order":2,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["83947ad6.d6e1b8"]]},{"id":"83947ad6.d6e1b8","type":"function","z":"bdf58f6.9e8037","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["89def4dc.5b3868","cc36f28b.ba819"]]},{"id":"cc36f28b.ba819","type":"ui_text","z":"bdf58f6.9e8037","group":"a8fb58b0.f40408","order":3,"width":0,"height":0,"name":"","label":"you","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":380,"wires":[]},{"id":"e4197957.939458","type":"ui_text","z":"bdf58f6.9e8037","group":"a8fb58b0.f40408","order":4,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":220,"wires":[]},{"id":"57950700.1d9d08","type":"ui_audio","z":"bdf58f6.9e8037","name":"","group":"a8fb58b0.f40408","voice":"en-US","always":"","x":740,"y":80,"wires":[]},{"id":"6dc317bd.30a068","type":"ui_template","z":"bdf58f6.9e8037","group":"a8fb58b0.f40408","name":"","order":6,"width":"6","height":"11","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":120,"wires":[[]]},{"id":"a8fb58b0.f40408","type":"ui_group","z":"","name":"Chatbot","tab":"4cd755e0.9930ec","order":1,"disp":true,"width":"6","collapse":false},{"id":"4cd755e0.9930ec","type":"ui_tab","z":"","name":"Shop Bot","icon":"dashboard","disabled":false,"hidden":false}]